<!DOCTYPE html>
<html>
<head>
	<title>AngularCount</title>
	<!-- <link rel="stylesheet" type="text/css" href="assets/bootstrap/dist/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">


	<script type="text/javascript" src="assets/angular/angular.min.js"></script>
	<script type="text/javascript" src="assets/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/users.js"></script>
	<script type="text/javascript" src="js/service/user.js"></script>
</head>

<body ng-app="proApp">

	<ul class="bar-nav">
	  <li class="title"><a href="#">AngularCount</a></li>
	  <div class="log">
		  <li><a href="#">Sign In</a></li>
		  <li><a href="#">Sign Up</a></li>
	  </div>
	</ul>

	<div class="main">
		<ul class="onglet">
			<div>
				<li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>Dépenses</a></li>
				<li><a href="#">Equilibre</a></li>
				<li><a href="#">Partage</a></li>
				<li><a href="#">Config</a></li>
			</div>
			<form ng-submit="addUser()">
				<input type="text" placeholder="Utilisateur" ng-model="newUser.username"/><br>
				<input type="submit" value="Ajout Utilisateur"/>
			</form>
		</ul>
	</div>

	<div class="container" ng-view></div>

</body>
</html>