<div class="home">

	<ul class="recap">
		<li>
			<h3>Depense :</h3>
			<p>Montant<br>Positif</p>
			<p>Concernés</p>
			<p>Date</p>
			<p>Nombre de<br>concernés</p>
			<p>Groupe</p>
			<p>Description</p>
		</li>
	</ul>

	<div ng-repeat="depense in depenses" class="name">
		<a href="#/"><div class="bloc">{{aUsers[depense.payeur]}}</div></a>
		<p class="plus">{{depense.montant}} €</p>
		<div class="dropdown">Voir les concernés</div>
		<div class="drop-nav" slidetoggle>
			<p>{{aConcernesFinal[depense.id]}}</p>
		</div>
		<p class="moins">{{depense.Concernes}}</p>
		<p>{{depense.date}}</p>
		<p>{{depense.usergroup}}</p>
		<div class="descrip">
			<p>{{depense.description}}</p>
		</div>
	</div>

</div>