<div class="home">

	<ul class="recap">
		<li>
			<h3>Depense :</h3>
			<p>Montant</p>
			<p>Payeur</p>
			<p>Concernés</p>
			<p>Date</p>
			<p>Nombre de<br>concernés</p>
			<p>Groupe</p>
			<p>Description</p>
		</li>
	</ul>

	<ul ng-repeat="depense in depenses" class="name">
		<li>
			<a href="#/">{{aDepense[depense.Payeur]}}</a>
			<p class="plus">{{depense.Montant}} €</p>
			<p class="moins">{{aUsers[depense.Payeur]}}</p>
			<p>{{aUsers[depense.Concernes]}}</p>
			<p>Date</p>
			<p>Nombre de<br>concernés</p>
			<p>{{depense.usergroup}}</p>
			<p>Description</p>
		</li>
	</ul>

</div>