<div class="home">

	<ul class="recap">
		<li>
			<h3>Depense :</h3>
			<p>Montant<br>Positif</p>
			<p>Concernés</p>
			<p>Date</p>
			<p>Nombre de<br>concernés</p>
			<p>Groupe</p>
			<p>Description</p>
		</li>
	</ul>

	<ul ng-repeat="depense in depenses" class="name">
		<li>
			<a href="#/">{{aUsers[depense.Payeur].username}}</a>
			<p class="plus">{{depense.Montant}} €</p>
			<p>{{tmpFinal[depense.Id]}}</p>
			<p class="moins">{{depense.Concernes}}</p>
			<p>Date</p>
			<p>Nombre de<br>concernés</p>
			<p>{{depense.usergroup}}</p>
			<p>Description</p>
		</li>
	</ul>

</div>